<div class="mx-auto" style="height: 100px;"></div>
<div class="row">
  <div class="col-lg-7" style="text-align:center">
    <span appLogo></span>
  </div>
  <div class="col-lg-5" style="text-align:center">
    <div class="form-row align-items-center">
      <div class="col-sm-8">
        <div class="alert alert-danger" [hidden]="error==''">
          <strong>{{error}}</strong>
        </div>
        <div class="alert alert-info" [hidden]="msg==''">
          <strong>{{msg}}</strong>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>

    <div>
      <div class="mx-auto" style="height: 30px;"></div>
      <div class="form-row align-items-center">
        <div class="col-sm-8">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Password</div>
            </div>
            <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" />
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>

      <div class="form-row align-items-center">
        <div class="col-sm-8">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Confirm Password</div>
            </div>
            <input type="password" class="form-control" [(ngModel)]="confirm_password" placeholder="Confirm Password" />
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>

      <div class="mx-auto" style="height: 20px;"></div>

      <div class="form-row align-items-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-5">
          <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="resetPassword()">Reset Password</button>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </div>
</div>
