<nav class="navbar navbar-expand-sm">
  <a class="navbar-brand">WeRThere4U</a>
  <div class="navbar-collapse mx-auto" id="navbarSupportedContent">
    <div class="btn-group">
      <li (click)="callComponent('profile')"> Profile </li>
    </div>
    <div class="btn-group" dropdown *ngIf="user.user_type==1">
      <li dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic">
        Recruiter
        <span class="caret"></span>
      </li>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem" (click)="callComponent('post_requirement')">
          <a class="dropdown-item">Add/Modify Requirement</a>
        </li>
        <li role="menuitem" (click)="callComponent('find_candidates')">
          <a class="dropdown-item">Find Candidates</a>
        </li>
      </ul>
    </div>

    <!-- <div class="btn-group" dropdown *ngIf="user.user_type=='2'">
      <li dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic">
        Jobs
        <span class="caret"></span>
      </li>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem" (click)="callComponent('job_openings')">
          <a class="dropdown-item">Job Openings</a>
        </li>
      </ul>
    </div> -->

    <div class="btn-group" *ngIf="user.user_type==2">
      <li (click)="callComponent('job_openings')"> Job Openings </li>
    </div>

    <div class="btn-group">
      <li (click)="callComponent('feedback')" placement="bottom" tooltip="Let us know, so that we can work upon." container="body">
        Feedback </li>
    </div>
  </div>

  <div class="btn-group userInfo" dropdown>
    <li dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic">
      {{employer.name || employee.name}}
      <span class="caret"></span>
    </li>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
      <!-- <li role="menuitem">{{user.email}}</li>
      <li role="menuitem">{{employer.phone || employee.phone}}</li>
      <li role="menuitem">{{employer.org_name || employee.company}}</li>
      <div class="dropdown-divider"></div> -->
      <li (click)="logOut()"> Logout </li>
    </ul>
  </div>

</nav>