<div class="requirement form-row">
    <div class="col-md-4 col-sm-6 w3-margin-bottom" *ngFor="let job of myJobs">
        <div class="w3-card w3-white job_desc">
            <div class="job_content">
                Posted On: {{job.timestamp | date: 'd MMM y'}}
                <br /> Designation: {{job.designation}}
                <br /> Company: {{job.company}}
                <br /> Location: {{job.location}}
                <br /> Experience: {{job.min_years}}yrs - {{job.max_years}}yrs
                <br /> Skills: {{job.skills}}
                <!-- <br /> Viewers: {{job.viewers}} -->
            </div>
            <div class="job_button" style="">
                <i (click)="deleteRequirement(job.ind)" class="fa fa-times fa-2x" aria-hidden="true" placement="left"
                    tooltip="Delete"></i>
                <i (click)="editRequirement(job)" class="fa fa-pencil fa-2x" aria-hidden="true" placement="left"
                    tooltip="Edit"></i>
                <i (click)="shareJobInfo(job.ind)" class="fa fa-share-alt fa-2x" aria-hidden="true" placement="left"
                    tooltip="Share"></i>
            </div>
        </div>
    </div>
</div>