.requirement{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .job_desc{
        display:flex;flex-direction: row;
        .job_content{
            flex-grow: 2;padding:8px;
        }
        .job_button{
            display:flex;flex-direction: column;padding:8px;
            .fa{
                cursor:pointer;
            }
        }
    }
}