<div [hidden]="valid" class="container-fluid requirement">
  <h3>Sorry !!!</h3>
  <h3>This job is not available at the moment.</h3>
</div>
<div [hidden]="!valid" class="container-fluid requirement">
  Copy this URL to share this job with others.
  <div class="form-row">
    <div class="col-sm-9 name"><b>Job Description</b></div>
    <div class="col-sm-3"><b class="heading">No. of viewers: </b><span class="content">{{requirement.viewers}}</span></div>
  </div>

  <div class="form-row job">
    <!-- left side -->
    <div class="col-sm-12">
      <div class="mx-auto" style="height: 15px;"></div>
      <div class="form-row">
        <div class="col-sm-4 heading"><b>Posted On </b></div>
        <div class="col-sm-8 content"> {{requirement.timestamp}} </div>
      </div>
      <div class="mx-auto" style="height: 15px;"></div>
      <div class="form-row">
        <div class="col-sm-4 heading"><b>Job Type </b></div>
        <div class="col-sm-8 content">
          <span [hidden]="!requirement.fullTime">Full Time</span>
          <span [hidden]="!(requirement.fullTime && requirement.partTime)"> /</span>
          <span [hidden]="!requirement.partTime">Part Time</span>
          <span [hidden]="!((requirement.fullTime || requirement.partTime) && requirement.intern)"> /</span>
          <span [hidden]="!requirement.intern">Internship </span>
        </div>
      </div>
      <div class="mx-auto" style="height: 15px;"></div>
      <div class="form-row">
        <div class="col-sm-4 heading"><b>Job Designation </b></div>
        <div class="col-sm-8 content"> {{requirement.designation}} </div>
      </div>
      <div class="mx-auto" style="height: 15px;"></div>
      <div class="form-row">
        <div class="col-sm-4 heading" ><b>Job Description </b></div>
        <div class="col-sm-8 content justify" > {{requirement.description}}  </div>
      </div>
      <div class="mx-auto" style="height: 15px;"></div>
      <div class="form-row">
        <div class="col-sm-4 heading"><b>Company Name </b></div>
        <div class="col-sm-8 content"> {{requirement.company}} </div>
      </div>
      <div class="mx-auto" style="height: 15px;"></div>
      <div class="form-row">
        <div class="col-sm-4 heading"><b>Job location </b></div>
        <div class="col-sm-8 content"> {{requirement.location}} </div>
      </div>

      <div class="mx-auto" style="height: 15px;"></div>
      <div class="form-row">
        <div class="col-sm-4 heading"><b>Experience Required </b></div>
        <div class="col-sm-8 content"> {{requirement.min_years}} - {{requirement.max_years}}yrs </div>
      </div>
      <div class="mx-auto" style="height: 15px;"></div>
      <div class="form-row">
        <div class="col-sm-4 heading"><b>Skills Required </b></div>
        <div class="col-sm-8 content"> {{requirement.skills}} </div>
      </div>
      <div class="mx-auto" style="height: 15px;"></div>
      <div class="form-row">
        <div class="col-sm-4 heading"><b>No. of openings </b></div>
        <div class="col-sm-8 content"> {{requirement.count}} </div>
      </div>
      <div [hidden]="requirement.gender == 'Anyone'" class="mx-auto" style="height: 15px;"></div>
      <div [hidden]="requirement.gender == 'Anyone'" class="form-row">
        <div class="col-sm-4 heading"><b>Preferred Candidate </b></div>
        <div class="col-sm-8 content"> {{requirement.gender}} </div>
      </div>
      <div [hidden]="requirement.specificReq == ''" class="mx-auto" style="height: 15px;"></div>
      <div [hidden]="requirement.specificReq == ''" class="form-row">
        <div class="col-sm-4 heading"><b>Any specific requirements</b></div>
        <div class="col-sm-8 content"> {{requirement.specificReq}} </div>
      </div>
      <div class="mx-auto" style="height: 15px;"></div>
      <div class="form-row">
        <div class="col-sm-4 heading"><b>Contact No </b></div>
        <div class="col-sm-8 content">{{requirement.email}} / {{requirement.contact}} </div>
      </div>
    </div>
  </div>
</div>