.login_page{
  color: #000 !important;
  background-color: #f1f1f1 !important;
  height: 100vh;

  .content{
    padding: 10px;

    .login{
      color: #757575!important;
      background-color: #fff!important;
      padding: 16px;
      box-shadow: 5px 10px 10px 0 rgba(0,0,0,0.16), 5px 10px 10px 0 rgba(0,0,0,0.12);
      
      select option:first-child{
        display:none;
      }
      .load{
        text-align:center;
        width:100%;
      }
    }
  
  }

}