<div class="container-fluid login_page">
  <div class="mx-auto" style="height: 50px;"></div>
  <div class="row content">
    <div class="col-sm-7" style="text-align:center">
      <span appLogo></span>
    </div>
    <div class="col-sm-5 login" >

      <form class="row" name="form" (ngSubmit)="validateThisUser()" #f="ngForm">
        <div class="col-sm-12">
          <div class="form-group">
            <!-- <label for="email">Email</label> -->
            <input type="text" class="form-control" name="email" maxlength="50" [(ngModel)]="user.email" #email="ngModel"
              [disabled]=" user.emailExists!=''? 'disabled' : null" [ngClass]="{ 'is-invalid': !validEmail() }"
              placeholder="Email" />
            <div class="invalid-feedback"> Enter a valid Email Address </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <button *ngIf="user.emailExists=='' && !user.loading" class="btn btn-success mb-2 btn-block" [disabled]="!validEmail()">
              Next <i class="fa fa-angle-double-right" aria-hidden="true" ></i>

            </button>
            <i *ngIf="user.loading" class="fa fa-refresh fa-2x fa-spin load" aria-hidden="true"></i>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-danger" [hidden]="user.error==''">
            <strong>{{user.error}}</strong>
          </div>
          <div class="alert alert-info" [hidden]="user.msg==''">
            <strong>{{user.msg}}</strong>
          </div>
          <span [hidden]="!user.resendVerifyEmail" style="cursor:pointer" (click)="resendEmail()">
            <b>Send Verification email again </b>
          </span>
        </div>

      </div>

      <form *ngIf="user.getSignInData" class="row" name="form" (ngSubmit)="signUp()" #f="ngForm" novalidate>
        <div class="col-sm-12">
          <div class="form-group">
            <!-- <label for="Name">Name</label> -->
            <input type="text" class="form-control" name="name" [(ngModel)]="user.name" #name="ngModel" [ngClass]="{ 'is-invalid': nameChange() }"
              maxlength="48" placeholder="Name" autocomplete />
            <div class="invalid-feedback"> Enter valid name </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <!-- <label for="password">Password</label> -->
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel"
              [ngClass]="{ 'is-invalid': passChange() }" maxlength="30" placeholder="Password" autocomplete />
            <div class="invalid-feedback"> Password should be of minimum 8 characters without space </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <!-- <label for="confirm_password">Confirm Password</label> -->
            <input type="password" class="form-control" name="confirm_password" [(ngModel)]="user.confirm_password"
              maxlength="30" #confirm_password="ngModel" [ngClass]="{ 'is-invalid': confPassChange() }" placeholder="Confirm Password"
              autocomplete />
            <div class="invalid-feedback"> Password and Confirm Password should be same </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <select class="form-control" name="user_type" [(ngModel)]="user.user_type" #user_type="ngModel" [ngClass]="{ 'is-invalid': selUserType() }">
              <option value=0>Who are you ?</option>
              <option value=1>HR Recruiter</option>
              <option value=2 selected>Candidate</option>
            </select>
            <div class="invalid-feedback"> Select the option that decribes you </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <button [disabled]="disableSignUp()" class="btn btn-primary btn-block">Sign Up</button>
          </div>
        </div>
      </form>

      <form *ngIf="user.getPassword" class="row" name="form" (ngSubmit)="logIn()" #f="ngForm" novalidate>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel"
              maxlength="30" autocomplete />
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group"> <button class="btn btn-primary">Log In</button> </div>
        </div>
        <div class="col-sm-12">
          <span style="cursor:pointer" (click)="resetPassword()"> <b>Forgot Password </b> </span>
        </div>
      </form>
    </div>
  </div>
</div>