@media screen and (max-width: 375px){
    .w3-xxlarge {
        font-size: 25px!important;
    }
    .w3-margin-right {
        margin-right: 4px!important;
    }
    h2 {
        font-size: 22px;
    }
}