<div [hidden]="employee.looking" class="container">
  <b>This profile is not looking for a change.</b>
</div>
<div [hidden]="!employee.looking" class="container">

  Note: Copy this URL to share your profile to others.
  <br/>
  <!-- <button type="button" class="btn btn-primary btn-lg" (click)="downloadPdf()"> Download PDF </button> -->
  <div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3"><b style="color:#0080FF;">No. of viewers: </b><span style="color:#191919;">{{employee.viewers}}</span></div>
  </div>

  <div id="content" #content style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-size: 1rem;font-weight: 400;color: #212529;text-align: left;line-height:2em;">
    <div><b style="color: #1034A6;font-size: 30px;">{{employee.name | uppercase}}</b>
      <span style="color:#0080FF; font-size: 20px; margin-left: 15px;"><b>{{employee.designation | titlecase}}</b></span></div>
    <div style="font-size: 15px;">
      <b style="color:#0080FF;">EMAIL :</b>
      <span style="color:#191919;">{{id}}&nbsp;&nbsp;&nbsp;</span>
      <b style="color:#0080FF;">GENDER :</b>
      <span style="color:#191919;">{{employee.gender}}&nbsp;&nbsp;&nbsp;</span>
      <b *ngIf="employee.phone" style="color:#0080FF;">PH :</b>
      <span *ngIf="employee.phone" style="color:#191919;">{{employee.phone}}&nbsp;&nbsp;&nbsp;</span>
      <b *ngIf="employee.linkedin" style="color:#0080FF;">LINKEDIN :</b>
      <span *ngIf="employee.linkedin" style="color:#191919;">{{employee.linkedin}}</span>
      <b style="color:#0080FF;">WERTHERE4U :</b>
      <span style="color:#191919;">werthere4u.in/#/profile/{{id}}&nbsp;&nbsp;&nbsp;</span>
      <br/>
      <b *ngIf="employee.address" style="color:#0080FF;">ADDRESS :</b><span *ngIf="employee.address" style="color:#191919;">{{employee.address}}</span><br/>
      <b style="color:#0080FF;">TOTAL EXPERIENCE :</b> <span style="color:#191919;">{{employee.experience}} yrs &nbsp;&nbsp;&nbsp;
      </span>
      <b style="color:#0080FF;">NOTICE PERIOD :</b> <span style="color:#191919;">{{employee.noticePeriod}} days </span>

    </div>
    <div style="margin-top: 30px;font-size: 18px;">
      <b style="color:#0080FF;"> LOOKING FOR </b>
      <span style="color:#191919;">
        <span *ngIf="employee.fullTime == 1">Full Time</span>
        <span *ngIf="employee.partTime == 1"> /</span>
        <span *ngIf="employee.partTime == 1">Part Time</span>
        <span *ngIf="employee.intern == 1"> /</span>
        <span *ngIf="employee.intern == 1">Internship </span>
      </span>
      <b style="color:#0080FF;"> in </b><span style="color:#191919;">{{employee.fut_location | titlecase}} </span>

      <br/>
      <div *ngIf="employee.objective != ''">
          <b style="color:#0080FF;">CAREER OBJECTIVE </b>
          <span style="color:#191919; display: flex; text-align: justify; text-justify: inter-word;">{{employee.objective}}</span>
          <br/>
      </div>
      
      <div *ngIf="employee.education.length > 0">
          <b style="color:#0080FF;">EDUCATION </b><br/>
          <div *ngFor="let edu of employee.education">
            <b>{{edu.college}}</b>
            <span style="float:right">
              <b>{{edu.start | date: "MMM y"}}</b> to <b>{{edu.end | date: "MMM y"}}</b>
            </span><br/>
            <span>{{edu.degree}} in {{edu.stream}}</span>
            <span style="float:right">
              <span *ngIf="edu.cgpa !=0">CGPA: {{edu.cgpa}}</span>
              <span *ngIf="edu.percentage !=0">&nbsp;&nbsp; Percentage: {{edu.percentage}}</span>
            </span>
          </div><br/>
      </div>
      
      <div *ngIf="employee.work_experience.length > 0">
        <b style="color:#0080FF;">WORK EXPERIENCE </b><br/>
        <div *ngFor="let work of employee.work_experience">
          <b>{{work.company}}</b><span style="float:right"><b>{{work.start | date: "MMM y"}}</b> to 
            <b *ngIf="!work.present">{{work.end | date: "MMM y"}}</b>
            <b *ngIf="work.present">Present</b>
          </span><br/>
          <span style="color:#191919; display: flex; text-align: justify; text-justify: inter-word;">{{work.description}}</span>
        </div><br/>
      </div>

      <div *ngIf="employee.languages != ''">
          <b style="color:#0080FF;">LANGUAGES KNOWN </b><span style="color:#191919;"> {{employee.languages}}</span>
          <br/>
      </div>
      
      <b style="color:#0080FF;">AREA OF EXPERTISE </b><br/><span style="color:#191919;">{{employee.skills}} </span>
      <br/>


      <div *ngIf="employee.projects.length > 0">
        <b style="color:#0080FF;">PROJECTS </b><br/>
        <ol>
          <li *ngFor="let proj of employee.projects">
            <b>{{proj.name | titlecase}}</b><span style="float:right"><b>{{proj.start | date: "MMM y"}}</b> to <b>{{proj.end
                | date: "MMM y"}}</b></span><br/>
            <span style="color:#191919; display: flex; text-align: justify; text-justify: inter-word;">{{proj.description}}</span>
            <span><b>Skills :</b> {{proj.skills}}</span><br/>
          </li>
        </ol>
        <br/>
      </div>
      <div *ngIf="employee.academic_ach != ''">
        <b style="color:#0080FF;"> ACEDEMIC ACHIEVEMENTS</b><br/>
        <span style="color:#191919; display: flex; text-align: justify; text-justify: inter-word;">{{employee.academic_ach}}</span>
        <br />
      </div>
      <div *ngIf="employee.extra_curricular != ''">
        <b style="color:#0080FF;"> EXTRA-CURRICULAR ACTIVITIES</b><br/>
        <span style="color:#191919; display: flex; text-align: justify; text-justify: inter-word;">{{employee.extra_curricular}}</span>
        <br/>
      </div>
      <div *ngIf="employee.certifications != ''">
        <b style="color:#0080FF;">CERTIFICATIONS</b><br/>
        <span style="color:#191919; display: flex; text-align: justify; text-justify: inter-word;">{{employee.certifications}}</span>
        <br/>
      </div>

      <div *ngIf="employee.hobbies != ''">
        <b style="color:#0080FF;">HOBBIES</b><br/>
        <span style="color:#191919; display: flex; text-align: justify; text-justify: inter-word;">{{employee.hobbies}}</span>
        <br/>
      </div>

      <div *ngIf="employee.specificReq != ''">
        <b *ngIf="employee.specificReq" style="color:#0080FF;">Note : </b>
        <span style="color:#191919; display: flex; text-align: justify; text-justify: inter-word;">{{employee.specificReq}}
        </span>
        <br/>
      </div>

    </div>
  </div>
</div>