<div class="w3-container w3-card w3-white w3-margin-bottom w3-padding-large">
  <div class="section_heading"> BASIC INFORMATION </div>
  <div class="form-row">
    <div class="col-sm-12 interested">
      <input type="radio" [value]=true [(ngModel)]="looking" /> Looking for a change<span class="spacing"></span>
      <input type="radio" [value]=false [(ngModel)]="looking" /> Not Looking<span class="spacing"></span>
      <span class="viewers" style="float:right">Viewers : {{employee.viewers}}</span>
    </div>
  </div>

  <div class="mx-auto" style="height: 20px;"></div>
  <div class="form-row">
    <div class="col-sm-12 container interested">
      <input type="checkbox" [(ngModel)]="fullTime" placement="right" tooltip="Check if you are looking for Full time Opportunity"
        container="body" /> Full Time <span class="spacing"></span>
      <input type="checkbox" [(ngModel)]="partTime" placement="right" tooltip="Check if you are looking for Part time Opportunity"
        container="body" /> Part Time <span class="spacing"></span>
      <input type="checkbox" [(ngModel)]="intern" placement="right" tooltip="Check if you are looking for Internship Opportunity"
        container="body" /> Internship
    </div>
  </div>

  <div class="mx-auto" style="height: 20px;"></div>
  <div class="form-row">
    <div class="col-sm-4 container">
      <input type="text" maxlength="30" class="form-control" [(ngModel)]="employee.name" />
      <label>* Name</label>
    </div>
    <div class="col-sm-4 container">
      <input type="text" maxlength="30" class="form-control" [(ngModel)]="employee.designation" placement="top" tooltip="Enter 0 if you are a fresher"
        container="body" />
      <label>* Designation</label>
    </div>
    <div class="col-sm-4 container">
      <input type="text" maxlength="100" class="form-control" [(ngModel)]="employee.fut_location" placement="top"
        tooltip="Separate with / if looking in multiple locations. Enter 'ANY' if open for all locations. Eg. Chennai / Bangalore / Pune"
        container="body" />
      <label>* Looking in</label>
    </div>
  </div>

  <div class="mx-auto" style="height: 20px;"></div>
  <div class="form-row">
    <div class="col-sm-12 container">
      <input type="text" maxlength="1000" class="form-control" [(ngModel)]="employee.address" placement="top" container="body" />
      <label>Address</label>
    </div>
  </div>

  <div class="mx-auto" style="height: 20px;"></div>
  <div class="form-row">
    <div class="col-sm-4 container">
      <select class="form-control" [(ngModel)]="employee.gender" container="body">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Transgender">Transgender</option>
      </select>
    </div>
    <div class="col-sm-4 container">
      <input type="text" maxlength="20" class="form-control" [(ngModel)]="employee.phone" />
      <label>Phone</label>
    </div>
    <div class="col-sm-4 container">
      <input type="text" maxlength="50" class="form-control" [(ngModel)]="employee.linkedin" placement="top" tooltip="LinkedIn profile URL"
        container="body" />
      <label>LinkedIn</label>
    </div>
  </div>

  <div class="mx-auto" style="height: 20px;"></div>
  <div class="form-row">
    <div class="col-sm-6 container">
      <input type="text" maxlength="5" class="form-control" [(ngModel)]="employee.experience" placement="top" tooltip="Enter 0 if you are a fresher"
        container="body" />
      <label>* Total Experience</label>

    </div>
    <div class="col-sm-6 container">
      <input type="text" maxlength="5" class="form-control" [(ngModel)]="employee.noticePeriod" placement="top" tooltip="Enter 0 if you can join immediately"
        container="body" />
      <label>* Notice period</label>
    </div>
  </div>

  <div class="mx-auto" style="height: 20px;"></div>
  <div class="form-row">
    <div class="col-sm-12 container">
      <input type="text" maxlength="1000" class="form-control" [(ngModel)]="employee.skills" placement="top" tooltip="Eg: Web Development, Design, Testing, Automation, etc,."
        container="body" />
      <label>* Area of Expertise</label>
    </div>
  </div>

  <div class="mx-auto" style="height: 20px;"></div>
  <div class="form-row">
    <div class="col-sm-12 container">
      <input type="text" maxlength="200" class="form-control" [(ngModel)]="employee.languages" placement="top" tooltip="Eg: English, Hindi, Tamil, German"
        container="body" />
      <label>Languages Known</label>
    </div>
  </div>

</div>

<div class="w3-container w3-card w3-white w3-margin-bottom w3-padding-large">
  <div class="section_heading"> EDUCATION </div>
  <div *ngFor="let edu of employee.education" class="box w3-white w3-text-grey w3-card">
    <div class="form-row">
      <div class="col-sm-4 container">
        <input type="text" maxlength="50" class="form-control" [(ngModel)]="edu.college" placement="top" tooltip="Enter the College name. Eg: IIT / NIT / PSG"
          container="body" />
        <label>* College</label>
      </div>
      <div class="col-sm-4 container">
        <input type="text" maxlength="50" class="form-control" [(ngModel)]="edu.degree" placement="top" tooltip="Enter the degree. Eg: B.Tech / M.Tech / B.Com / MBA"
          container="body" />
        <label>* Degree</label>
      </div>
      <div class="col-sm-4 container">
        <input type="text" maxlength="50" class="form-control" [(ngModel)]="edu.stream" placement="top" tooltip="Enter the stream. Eg: CS / Mech / Science"
          container="body" />
        <label>* Stream</label>
      </div>
    </div>
    <div class="mx-auto" style="height: 20px;"></div>
    <div class="form-row">
      <div class="col-sm-2 container">
        <input type="text" maxlength="7" class="form-control" [(ngModel)]="edu.start" placement="top" tooltip="Enter the start date in YYYY-MM format. Eg: 2005-07"
          container="body" />
        <label>* From</label>
      </div>
      <div class="col-sm-2 container">
        <input type="text" maxlength="7" class="form-control" [(ngModel)]="edu.end" placement="top" tooltip="Enter the end date in YYYY-MM format. Eg: 2007-05"
          container="body" />
        <label>* To</label>
      </div>
      <div class="col-sm-2 container">
        <input type="text" maxlength="5" class="form-control" [(ngModel)]="edu.cgpa" placement="top" tooltip="Enter if your result is calculated in CGPA (0-10.0). 0 if not applicable."
          container="body" />
        <label>CGPA</label>
      </div>
      <div class="col-sm-3 container">
        <input type="text" maxlength="5" class="form-control" [(ngModel)]="edu.percentage" placement="top" tooltip="Enter if your result is calculated in Percentage (0-100.0). 0 if not applicable."
          container="body" />
        <label>Percentage</label>
      </div>
      <div class="col-sm-3 container">
        <button type="button" class="btn btn-danger btn-lg btn-block" (click)="deleteEducation(edu.ind)"> DELETE</button>
      </div>
    </div>
  </div>
  <div class="mx-auto" style="height: 15px;"></div>
  <div class="form-row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="addEducation()"> + ADD EDUCATION</button>
    </div>
  </div>
</div>


<div class="w3-container w3-card w3-white w3-margin-bottom w3-padding-large">
  <div class="section_heading"> WORK EXPERIENCE </div>
  <div *ngFor="let work of employee.work_experience" class="box">
    <div class="form-row">
      <div class="col-sm-4 container">
        <input type="text" maxlength="50" class="form-control" [(ngModel)]="work.company" placement="top" tooltip="Enter the Company name. Eg: TCS / Infosys / Reliance"
          container="body" />
        <label>* company</label>
      </div>
      <div class="col-sm-2 container">
        <input type="text" maxlength="7" class="form-control" [(ngModel)]="work.start" placement="top" tooltip="Enter the start date in YYYY-MM format. Eg: 2005-07"
          container="body" />
        <label>* From</label>
      </div>
      <div class="col-sm-2 container">
        <input type="text" maxlength="7" class="form-control" [disabled]=work.present [(ngModel)]="work.end" placement="top"
          tooltip="Enter the end date in YYYY-MM format. Eg: 2007-05" container="body" />
        <label>* To</label>
      </div>
      <div class="col-sm-1 container">
        <input type="checkbox" class="form-control present" (click)="workPresent(work)" [(ngModel)]="work.present"
          placement="right" tooltip="Check if you are working here" container="body" />
      </div>
      <div class="col-sm-3 container">
        <button type="button" class="btn btn-danger btn-lg btn-block" (click)="deleteWork(work.ind)"> DELETE</button>
      </div>
    </div>
    <div class="mx-auto" style="height: 20px;"></div>
    <div class="form-row">
      <div class="col-sm-12 container">
        <textarea rows="3" maxlength="1000" class="form-control" [(ngModel)]="work.description" placement="top" tooltip="Enter the key role played for the company"
          container="body"></textarea>
        <label>Description</label>
      </div>
    </div>
  </div>

  <div class="mx-auto" style="height: 15px;"></div>
  <div class="form-row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="addWork()"> + ADD WORK EXPERIENCE</button>
    </div>
  </div>
</div>

<div class="w3-container w3-card w3-white w3-margin-bottom w3-padding-large">
  <div class="section_heading"> PROJECTS </div>
  <div *ngFor="let proj of employee.projects" class="box">
    <div class="form-row">
      <div class="col-sm-5 container">
        <input type="text" maxlength="100" class="form-control" [(ngModel)]="proj.name" placement="top" tooltip="Enter the Project name"
          container="body" />
        <label>* Name</label>
      </div>
      <div class="col-sm-2 container">
        <input type="text" maxlength="7" class="form-control" [(ngModel)]="proj.start" placement="top" tooltip="Enter the start date in YYYY-MM format. Eg: 2005-07"
          container="body" />
        <label>* From</label>
      </div>
      <div class="col-sm-2 container">
        <input type="text" maxlength="7" class="form-control" [(ngModel)]="proj.end" placement="top" tooltip="Enter the end date in YYYY-MM format. Eg: 2007-05"
          container="body" />
        <label>* To</label>
      </div>
      <div class="col-sm-3 container">
        <button type="button" class="btn btn-danger btn-lg btn-block" (click)="deleteProject(proj.ind)"> DELETE</button>
      </div>
    </div>
    <div class="mx-auto" style="height: 20px;"></div>
    <div class="form-row">
      <div class="col-sm-12 container">
        <textarea rows="3" maxlength="1000" class="form-control" [(ngModel)]="proj.description" placement="top" tooltip="Enter the Project description"
          container="body"></textarea>
        <label>Description</label>
      </div>
    </div>
    <div class="mx-auto" style="height: 20px;"></div>
    <div class="form-row">
      <div class="col-sm-12 container">
        <textarea rows="1" maxlength="500" class="form-control" [(ngModel)]="proj.skills" placement="top" tooltip="Enter the skills used to develop the project"
          container="body"></textarea>
        <label>Skills</label>
      </div>
    </div>
  </div>
  <div class="mx-auto" style="height: 15px;"></div>
  <div class="form-row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="addProject()"> + ADD PROJECT</button>
    </div>
  </div>
</div>

<div class="w3-container w3-card w3-white w3-margin-bottom w3-padding-large">
  <div class="mx-auto" style="height: 20px;"></div>
  <div class="form-row">
    <div class="col-sm-12 container">
      <textarea rows="3" maxlength="1000" class="form-control" [(ngModel)]="employee.academic_ach" placement="top"
        tooltip="The awards that you won with respect to your Area of Expertise" container="body"></textarea>
      <label>Academic Achievements</label>
    </div>
  </div>
  <div class="mx-auto" style="height: 20px;"></div>
  <div class="form-row">
    <div class="col-sm-12 container">
      <textarea rows="3" maxlength="1000" class="form-control" [(ngModel)]="employee.extra_curricular" placement="top"
        tooltip="The awards that you won in sports, quiz, etc,." container="body"></textarea>
      <label>Extra-curricular</label>
    </div>
  </div>
  <div class="mx-auto" style="height: 20px;"></div>
  <div class="form-row">
    <div class="col-sm-12 container">
      <textarea rows="3" maxlength="1000" class="form-control" [(ngModel)]="employee.certifications" placement="top"
        tooltip="The certifications that you gained over these years" container="body"></textarea>
      <label>Certificaions</label>
    </div>
  </div>
  <div class="mx-auto" style="height: 20px;"></div>
  <div class="form-row">
    <div class="col-sm-12 container">
      <textarea rows="3" maxlength="1000" class="form-control" [(ngModel)]="employee.hobbies" placement="top" tooltip="What do you do in your free time ?"
        container="body"></textarea>
      <label>Hobbies</label>
    </div>
  </div>
  <div class="mx-auto" style="height: 20px;"></div>
  <div class="form-row">
    <div class="col-sm-12 container">
      <textarea rows="2" maxlength="1000" class="form-control" [(ngModel)]="employee.specificReq" placement="top"
        tooltip="CTC info, Type of Candidate, Educational Qualification required, etc,." container="body"></textarea>
      <label>Note : </label>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="form-row">
    <div class="col-sm-12">
      <div class="mx-auto" style="height: 25px;border:sold red;"></div>
      <div class="form-row">
        <div class="col-sm-6 container">
          <div class="alert alert-danger" [hidden]="error==''">
            <strong>{{error}}</strong>
          </div>
          <div class="alert alert-info" [hidden]="msg==''">
            <strong>{{msg}}</strong>
          </div>
        </div>
        <div class="col-sm-6 container">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="setEmployeeInfo()">Save My Profile</button>
        </div>
      </div>
    </div>
  </div>

</div>