$hr_color: black;

@mixin generate_media_queries($device, $font_size,$height) {
  $size: "";
  $space: 0px;
  @if $device == desktop {
    $size: "(min-width : 800px)";
    $space: 30px; 
  }
  @else if $device == tablet {
    $size: "(min-width : 576px) and (max-width : 800px)"; 
    $space: 20px;
  }
  @else if $device == phone {
    $size: "(max-width : 575px)"; 
    $space: 5px;
  }

  @media screen and #{$size} 
  {
    @if $device == desktop {
      input[type="text"] ~ label,input[type="number"] ~ label, textarea ~ label{top:-15px;}
    }
    
    @else if $device == tablet {
      input[type="text"] ~ label,input[type="number"] ~ label, textarea ~ label{top:-15px;}
      .viewers{
        display: none;
      }
    }
    @else if $device == phone {
      input[type="text"] ~ label,input[type="number"] ~ label, textarea ~ label{top:-10px;}
      .container{
        padding:5px;
      }
      .viewers{
        display: none;
      }
    }
    hr{
      border:1px solid $hr_color;
    }
    .box{
      border:1px solid black;
      background-color: #cecece;
      margin: 10px 0;
      padding: 10px;
      border-radius:5px;
    }
    
    *{box-sizing:border-box;}
    
   
    /* A container to position LABELS */
    .container {
    position: relative;
    top: auto;
    left: auto;
    }
    
    input[type="checkbox"].present{
      width: 42px;
      height: 42px;
      background-color: cornflowerblue;
    }
    
    input[type="text"],input[type="number"],textarea {
      padding:1em 0 0 5px;
      border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
    box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
      border-radius:5px;
      width:100%;
    }
    
    label {
    position: absolute;
    top: 0;
    right: 1px;
    bottom: 1px;
    left: 10px;
    z-index: 1;
    height: 1em;
    font-size: 15px;
    line-height: 3.5em;
    color: #999;
    white-space: nowrap;
    cursor: text;
    transition:all .1s ease;
    text-transform: uppercase;
    }
    
    input[type="text"] ~ label,input[type="number"] ~ label, textarea ~ label{
      font-size:13px;
      font-weight:bold;
      color:green;
    }
    
    input,textarea{
      left:20px;
    }

    .interested input[type="checkbox"]{
      width: $height;
      height: $height;
    }
    .interested{
      font-size: $font_size;
      
      .spacing{
        margin: $space;
      }
      
    }
    input[type="radio"]{
      width: $height - 1;
      height: $height - 1;
    }
  }
}

@include generate_media_queries(desktop, 20px, 21px);
@include generate_media_queries(tablet, 20px, 21px);
@include generate_media_queries(phone, 15px, 18px);