<div class="container-fluid">
    <div class="" *ngIf="!openings">
        <h3>Sorry!!! <br />There are no openings available at the moment.</h3>
    </div>
    <!-- First Photo Grid-->
    <div class="w3-row">
        Click on each job to see the details
        <div class="w3-container w3-margin-bottom job-opening" *ngFor="let open of this.openings">
            <details class="w3-container">
                <summary>

                    <div class="w3-row">
                        <div class="w3-half">
                            <p><i class="fa fa-calendar fa-fw w3-margin-right"></i>
                                    {{open.timestamp | date: 'd MMM y'}}</p>
                        </div>
                        <div class="w3-half">
                            <p><b>Type </b> <span [hidden]="!open.fullTime">Full Time</span>
                                <span [hidden]="!(open.fullTime && open.partTime)">, </span>
                                <span [hidden]="!open.partTime">Part Time</span>
                                <span [hidden]="!((open.fullTime || open.partTime) && open.intern)"> , </span>
                                <span [hidden]="!open.intern">Internship </span></p>
                        </div>
                        <div class="w3-half">
                            <p><b>Company </b>{{open.company}} ({{open.location}})</p>
                        </div>
                        <div class="w3-half">
                            <p><b>Designation </b> {{open.designation}}</p>
                        </div>
                        <div class="w3-half">
                            <p><b>Experience </b> {{open.min_years}}yrs - {{open.max_years}}yrs</p>
                        </div>
                        <div class=" w3-half">
                            <p><b>Skills </b> {{open.skills}}</p>
                        </div>
                    </div>
                </summary>

                <div class="w3-row">
                    <div class="w3-half">
                        <p><b>Gender </b> {{open.gender}}</p>
                    </div>
                    <div class="w3-half">
                        <p><b>No of Openings </b> {{open.count}}</p>
                    </div>
                    <div class="">
                        <p><b>Job Description </b>{{open.description}}</p>
                    </div>
                    <div *ngIf="open.specificReq != ''">
                        <p><b>Other Conditions </b>{{open.specificReq}}</p>
                    </div>
                    <div class="w3-half">
                        <p><b>Email </b> {{open.email}}</p>
                    </div>
                    <div *ngIf="open.contact != ''" class=" w3-half">
                        <p><b>Phone </b> {{open.contact}}</p>
                    </div>
                </div>

                <i class="fa fa-share fa-fw "></i><a target="_blank" style="text-decoration: black underline" (click)="shareOpening(open.ind)" href="">Share this with your friends</a>
                <br/><br/>
            </details>
        </div>        
    </div>

    <!-- Pagination -->
    <!-- <div class="w3-center w3-padding-32">
        <div class="w3-bar">
            <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
            <a href="#" class="w3-bar-item w3-black w3-button">1</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
        </div>
    </div> -->
</div>