<div class="w3-container w3-card w3-white w3-margin-bottom w3-padding-large">
  <div class="section_heading"> FEEDBACK </div>
  <div class="form-row">
    <div class="col-sm-12 label">
      <div class="alert alert-danger" [hidden]="error==''">
        <strong>{{error}}</strong>
      </div>
      <div class="alert alert-info" [hidden]="msg==''">
        <strong>{{msg}}</strong>
      </div>
    </div>
  </div>


  <div class="form-row">
    <div class="col-sm-12">
      <div class="form-group">
        <textarea rows="5" maxlength="500" (keyup)="checkFeedback()" class="form-control" [(ngModel)]="subject" placeholder="Enter your valuable Feedback."></textarea>
      </div>
    </div>
    <div class="col-sm-12">
      <button [disabled]="!enableSubmit" type="button" (click)="submitFeedback()" class="btn btn-primary btn-lg btn-block align-middle">Submit
        Feedback</button>
    </div>
  </div>


  <div class="mx-auto" style="height: 15px;"></div>
  <div class="form-row">
    <div class="col-sm-12">
      You can also reach the developer @ info.werthere4u@gmail.com
    </div>
  </div>
</div>