/* You can add global styles to this file, and also import other style files */
/* body{
    background: #ADEAEA;
} */
@import url("assets/w3.css");
@import url("assets/font-style.css");
.btn {
    font-size: 15px;
}
body{
    max-width:1600px;
}
